USE [YY]
GO
/****** Object:  StoredProcedure [XXXXX-XXXX].[ProcMarcacaoMailingExtrato]******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [XXXXX-XXXX].[ProcMarcacaoMailingExtrato]
AS

-- Projetado por: Aguinaldo Freire da Silva Junior/ Mis - Aguapei
-- Objetivo: Marcação de importancia dos devedores
-- Rotina: Diario ás 06h
-- Ultima Atualização: ----------

---- CARREGA CASOS DE BOLETOS

		DROP TABLE IF EXISTS #TEMP_EXT
		SELECT * 
		INTO #TEMP_EXT
		FROM YY.XXXXX-XXXX.EXTRATO A WITH(NOLOCK)

		ALTER TABLE #TEMP_EXT
		ADD IDCLIENTE INT

		UPDATE A
		SET A.IMPORTANCIA = NULL,
				A.DESCIMPORTANCIA =  NULL,
				A.BASEACIONAR = NULL
		FROM #TEMP_EXT A
		 

		DROP TABLE IF EXISTS ##TEMP_PREV_COL_PAG
		CREATE TABLE ##TEMP_PREV_COL_PAG 
					(IDACORDO INT,
					NUMEROPARCELA INT,
					IDDEVEDOR INT,
					DATAVENCIMENTO SMALLDATETIME,
					DATAPAGAMENTO SMALLDATETIME,
					DATACANCELAMENTO SMALLDATETIME,
					PLANO INT,
					VALIDA_COLCHAO INT,
					ROWACORDOS INT)
					
-- CARREGA PAGAMENTOS

		INSERT INTO ##TEMP_PREV_COL_PAG
		SELECT
			A.IDACORDO,
			MIN(A.NUMEROPARCELA) NUMEROPARCELA,
			A.IDDEVEDOR,
			MIN(A.DATAVENCIMENTO) DATAVENCIMENTO,
			A.DATACANCELAMENTO,
			A.DATAPAGAMENTO,
			A.PLANO,
			ISNULL(B.VALIDA_COLCHAO,0),
			ROW_NUMBER()OVER(PARTITION BY A.IDDEVEDOR ORDER BY A.DATAINCLUSAO DESC) i
		
		FROM YY.GLO.ACORDOS A WITH(NOLOCK)
		LEFT JOIN (
					SELECT 
						IDACORDO,
						MIN(NUMEROPARCELA) MIN_NUM_PCL,
						DATAPAGAMENTO,
						1 VALIDA_COLCHAO
					FROM YY.GLO.ACORDOS WITH(NOLOCK)
					WHERE DATAPAGAMENTO IS NOT NULL AND CODIGOCARTEIRA = 853
					GROUP BY 
						IDACORDO,
						DATAPAGAMENTO
					) B ON A.IDACORDO = B.IDACORDO

		WHERE A.CODIGOCARTEIRA = 853
			  AND (CASE WHEN CONVERT(DATE,A.DATAVENCIMENTO) <= CONVERT(DATE,GETDATE()+10) THEN 1 ELSE 0 END)=1
			  AND (CASE WHEN ISNULL(A.DATACANCELAMENTO,GETDATE()) < GETDATE()-90 THEN 0 ELSE 1 END) = 1
			  
		GROUP BY
		B.VALIDA_COLCHAO,
		A.IDACORDO,
		A.IDDEVEDOR,
		A.DATACANCELAMENTO,
		A.PLANO,
		A.DATAINCLUSAO,
		A.DATAPAGAMENTO
		
		DELETE A FROM ##TEMP_PREV_COL_PAG A
		WHERE ROWACORDOS > 1
		
--- SAFRA

		DROP TABLE IF EXISTS #TEMPSAFRA
		SELECT DISTINCT 
			CAST(C.IDLOTE AS VARCHAR)+'_'+CAST(C.LOTE AS VARCHAR) AS LOTEID,
			C.LOTE AS LOTE,
			A.IDDEVEDOR,
			A.CNPJCPF,
			B.DATAINCLUSAO,
			LEFT(RIGHT(LOTE,7),4)+'-'+RIGHT(RIGHT(LOTE,7),2)+'-02' AS DATALOTESAFRA,
			ROW_NUMBER() OVER (PARTITION BY A.IDDEVEDOR ORDER BY CONVERT(VARCHAR,RIGHT(C.LOTE,7)+'-01')  DESC) AS SAFRA
		INTO #TEMPSAFRA
		FROM [YY].[XXXXX-XXXX].EXTRATOCONTRATO A WITH(NOLOCK)
		INNER JOIN MISXXXXX-XXXX.MISXXXXX-XXXX.[CLI].[TITULOSINFORMACOESCOMPLEMENTARES] B ON A.IDTITULO = B.IDTITULO 
		INNER JOIN MISXXXXX-XXXX.MISXXXXX-XXXX.[CLI].[LOTESTIPIFICACOES] C ON B.IDLOTE = C.IDLOTE
		
		CREATE INDEX IX_003 ON #TEMPSAFRA(CNPJCPF,IDDEVEDOR,DATAINCLUSAO)

-- ATUALIZA EXTRATO COM O LOTE MAIS ATUALIZADO

		UPDATE A 
		SET A.LOTESAFRA = B.LOTE,
		A.DATAINCLUSAOSCORING = B.DATALOTESAFRA
		FROM #TEMP_EXT A
		INNER JOIN #TEMPSAFRA B ON A.IDDEVEDOR = B.IDDEVEDOR
		WHERE 
			B.SAFRA = 1

---- IMPORTANCIA 23

	--UPDATE A
	--SET A.BASEACIONAR = 3,
	--	A.DESCRICAOBASEACIONAR = 'DISCADOR',
	--	A.IMPORTANCIA = CASE WHEN A.SALDOVENCIDO >= 30000 THEN 23 END,

	--	A.DESCIMPORTANCIA =  CASE WHEN A.SALDOVENCIDO >= 30000 THEN 'MAIORES VALORES (>30K)' END
	--	FROM #TEMP_EXT

		CREATE INDEX INX_001 ON #TEMP_EXT(IDDEVEDOR)

		UPDATE A
		SET A.IDCLIENTE = B.IDCONTATO
		FROM #TEMP_EXT A
		INNER JOIN MISXXXXX-XXXX.MISXXXXX-XXXX.[CLI].[DEVEDORESINFORMACOESCOMPLEMENTARES] B ON A.IDDEVEDOR = B.IDDEVEDOR

		CREATE INDEX INX_002 ON #TEMP_EXT(IDCLIENTE)

		UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = 1,
			A.DESCIMPORTANCIA = 'BASE PRIORIDADE'
		FROM #TEMP_EXT A
		INNER JOIN [XXXXX-XXXX].[XXXXX-XXXX_QUALITYQUOD_2023-06-21] C WITH(NOLOCK) ON A.IDCLIENTE = C.IDCLIENTE
				

----IMPORTANCIAS 1,2,3

		UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE
								WHEN A.DATAINCLUSAOSCORING > '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500					THEN 3
								WHEN A.LOTESAFRA IN (SELECT * FROM [XXXXX-XXXX].[PRODUTOS_SAFRA])	AND A.SALDOVENCIDO > 1500   THEN 2
								WHEN A.DATAINCLUSAOSCORING < '2021-01-01 00:00'	AND A.SALDOVENCIDO > 1500					THEN 4 END,

			A.DESCIMPORTANCIA = CASE
								WHEN  A.DATAINCLUSAOSCORING > '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500					THEN 'ALTA PROPENSAO - LOTES NOVOS'
								WHEN A.LOTESAFRA IN (SELECT * FROM [XXXXX-XXXX].[PRODUTOS_SAFRA]) AND A.SALDOVENCIDO > 1500	THEN 'ALTA PROPENSAO - TOP LOTES'
								WHEN A.DATAINCLUSAOSCORING < '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500					THEN 'ALTA PROPENSAO - LOTES ANTIGOS' END
		FROM #TEMP_EXT A
		WHERE A.SCORING IN ('A','B','C','D')
		AND A.IMPORTANCIA IS NULL
		AND NOT EXISTS (SELECT 1 FROM ##TEMP_PREV_COL_PAG B WHERE A.IDDEVEDOR = B.IDDEVEDOR)

----IMPORTANCIAS 4,5,6

		UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE WHEN A.DATAINCLUSAOSCORING > '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500						THEN 6
								 WHEN A.LOTESAFRA IN (SELECT * FROM [XXXXX-XXXX].[PRODUTOS_SAFRA])	AND A.SALDOVENCIDO > 1500	THEN 5
								 WHEN A.DATAINCLUSAOSCORING < '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500						THEN 7 END,

			A.DESCIMPORTANCIA =  CASE 
								 WHEN A.DATAINCLUSAOSCORING > '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500						THEN 'MEDIA PROPENSAO - LOTES NOVOS'
								 WHEN A.LOTESAFRA IN (SELECT * FROM [XXXXX-XXXX].[PRODUTOS_SAFRA]) AND A.SALDOVENCIDO > 1500		THEN 'MEDIA PROPENSAO - TOP LOTES'
								 WHEN A.DATAINCLUSAOSCORING < '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500						THEN 'MEDIA PROPENSAO - LOTES ANTIGOS' END
		FROM #TEMP_EXT A
		WHERE 
		A.IMPORTANCIA IS NULL
		AND A.SCORING IN ('E','F','G','H')
		AND NOT EXISTS (SELECT 1 FROM ##TEMP_PREV_COL_PAG B WHERE A.IDDEVEDOR = B.IDDEVEDOR)
	
	
----IMPORTANCIAS 7,8,9

		UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE WHEN A.DATAINCLUSAOSCORING > '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500				THEN 9
								 WHEN A.LOTESAFRA IN (SELECT * FROM [XXXXX-XXXX].[PRODUTOS_SAFRA])	AND A.SALDOVENCIDO > 1500   THEN 8
								 WHEN A.DATAINCLUSAOSCORING < '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500				THEN 10 END,

			A.DESCIMPORTANCIA =  CASE 
								 WHEN A.DATAINCLUSAOSCORING > '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500				THEN 'BAIXA PROPENSAO - LOTES NOVOS'
								 WHEN A.LOTESAFRA IN (SELECT * FROM [XXXXX-XXXX].[PRODUTOS_SAFRA]) AND A.SALDOVENCIDO > 1500	THEN 'BAIXA PROPENSAO - TOP LOTES'
								 WHEN A.DATAINCLUSAOSCORING < '2021-01-01 00:00' AND A.SALDOVENCIDO > 1500				THEN 'BAIXA PROPENSAO - LOTES ANTIGOS' END
		FROM #TEMP_EXT A
		WHERE A.IMPORTANCIA IS NULL
		AND A.SCORING NOT IN ('A','B','C','D','E','F','G','H')
		AND NOT EXISTS (SELECT 1 FROM ##TEMP_PREV_COL_PAG B WHERE A.IDDEVEDOR = B.IDDEVEDOR)
		

----IMPORTANCIA 10,11,12

		UPDATE A
		SET A.BASEACIONAR = 1 ,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE WHEN A.DIASEMATRASO > 5475 AND A.SCORING IN ('A','B','C','D')						THEN 11
								 WHEN A.DIASEMATRASO > 5475 AND A.SCORING IN ('E','F','G','H')						THEN 12
								 WHEN A.DIASEMATRASO > 5475 AND A.SCORING NOT IN ('A','B','C','D','E','F','G','H')	THEN 13 END,

			A.DESCIMPORTANCIA =  CASE 
								 WHEN A.DIASEMATRASO > 5475 AND A.SCORING IN ('A','B','C','D')						THEN 'ALTA PROPENSAO >15 ANOS'
								 WHEN A.DIASEMATRASO > 5475 AND A.SCORING IN ('E','F','G','H')						THEN 'MEDIA PROPENSAO >15 ANOS'
								 WHEN A.DIASEMATRASO > 5475 AND A.SCORING NOT IN ('A','B','C','D','E','F','G','H')	THEN 'BAIXA PROPENSAO >15 ANOS' END
		FROM #TEMP_EXT A
		WHERE A.IMPORTANCIA IS NULL
		AND NOT EXISTS (SELECT 1 FROM ##TEMP_PREV_COL_PAG B WHERE A.IDDEVEDOR = B.IDDEVEDOR)
	

----IMPORTANCIA 13,14,15


		UPDATE A
		SET A.BASEACIONAR = 1 ,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE WHEN A.SCORING IN ('A','B','C','D') AND A.SALDOVENCIDO < 1500						THEN 14
								 WHEN A.SCORING IN ('E','F','G','H') AND A.SALDOVENCIDO < 1500						THEN 15
								 WHEN A.SCORING NOT IN ('A','B','C','D','E','F','G','H') AND A.SALDOVENCIDO < 1500	THEN 16 END,

			A.DESCIMPORTANCIA =  CASE 
								 WHEN A.SCORING IN ('A','B','C','D') AND A.SALDOVENCIDO < 1500						THEN 'ALTA PROPENSAO <1500 SOP'
								 WHEN A.SCORING IN ('E','F','G','H') AND A.SALDOVENCIDO < 1500						THEN 'MEDIA PROPENSAO <1500 SOP'
								 WHEN A.SCORING NOT IN ('A','B','C','D','E','F','G','H') AND A.SALDOVENCIDO < 1500	THEN 'BAIXA PROPENSAO <1500 SOP' END
		FROM #TEMP_EXT A
		WHERE A.IMPORTANCIA IS NULL
		AND NOT EXISTS (SELECT 1 FROM ##TEMP_PREV_COL_PAG B WHERE A.IDDEVEDOR = B.IDDEVEDOR)


---- IMPORTANCIA 17,18,19

	UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE 
									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE()+3)
									THEN 26

									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) > CONVERT(DATE,GETDATE()+4)
									THEN 27 END,
								
			A.DESCIMPORTANCIA = CASE
									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE()+3)
									THEN 'PREVENTIVO COLCHÃO A VENCER D+0 A D+3'

									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) > CONVERT(DATE,GETDATE()+4)
									THEN 'PREVENTIVO COLCHÃO A VENCER > D+4'
									END

		FROM #TEMP_EXT A
		INNER JOIN ##TEMP_PREV_COL_PAG B ON A.IDDEVEDOR = B.IDDEVEDOR
		WHERE B.VALIDA_COLCHAO = 1 
		AND B.DATAPAGAMENTO IS NULL
		AND A.IMPORTANCIA IS NULL




	
	UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA =
							CASE
								WHEN B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-30) AND CONVERT(DATE,GETDATE()-15)			THEN 21
								WHEN B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-14) AND CONVERT(DATE,GETDATE()-1)			THEN 22
								WHEN B.DATAVENCIMENTO > CONVERT(DATE,GETDATE()-30)												THEN 23 END,
			A.DESCIMPORTANCIA = 
							CASE 	
								WHEN B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-30) AND CONVERT(DATE,GETDATE()-15)			THEN 'COLCHÃO VENCIDO PARCELA COM D-15 A D-30'
								WHEN B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-14) AND CONVERT(DATE,GETDATE()-1)			THEN 'COLCHÃO VENCIDO PARCELA COM D-1 A D-14'
								WHEN B.DATAVENCIMENTO > CONVERT(DATE,GETDATE()-30)												THEN 'QUEBRA COLCHÃO >30 DIAS' END
								
		FROM #TEMP_EXT A
		INNER JOIN ##TEMP_PREV_COL_PAG B ON A.IDDEVEDOR = B.IDDEVEDOR
		WHERE NUMEROPARCELA > 1
			AND B.VALIDA_COLCHAO = 1
			AND B.DATAPAGAMENTO IS NULL
			AND A.IMPORTANCIA IS NULL
			

	UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE 
									WHEN 
									B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-7) AND CONVERT(DATE,GETDATE()-1) THEN 20
								
									WHEN 
									B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-17) AND CONVERT(DATE,GETDATE()-8) THEN 18
								
									WHEN 
									B.DATAVENCIMENTO < CONVERT(DATE,GETDATE()-17) THEN 19 END,
								
			A.DESCIMPORTANCIA = CASE
									WHEN 
									B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-7) AND CONVERT(DATE,GETDATE()-1) THEN 'BOLETOS VENCIDOS D-1 A D-7'

									WHEN
									B.DATAVENCIMENTO BETWEEN CONVERT(DATE,GETDATE()-17) AND CONVERT(DATE,GETDATE()-8) THEN 'BOLETOS VENCIDOS D-8 A D-17'
								
									WHEN 
									B.DATAVENCIMENTO < CONVERT(DATE,GETDATE()-17) THEN 'BOLETOS VENCIDOS > 17 DIAS' END

		FROM #TEMP_EXT A
		INNER JOIN ##TEMP_PREV_COL_PAG B ON A.IDDEVEDOR = B.IDDEVEDOR
		WHERE
			B.VALIDA_COLCHAO = 0
			AND B.NUMEROPARCELA < 2
			AND B.DATAPAGAMENTO IS NULL
			AND A.IMPORTANCIA IS NULL
	
	
	   	 
	UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = CASE 
									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE()+3) THEN 24

									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) > CONVERT(DATE,GETDATE()+4) THEN 25
									END,
								
			A.DESCIMPORTANCIA = CASE
									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE()+3) THEN 'PREVENTIVO BOLETO A VENCER D+0 A D+3'

									WHEN 
									CONVERT(DATE,B.DATAVENCIMENTO) > CONVERT(DATE,GETDATE()+4) THEN 'PREVENTIVO BOLETO A VENCER > D+4'
									END

		FROM #TEMP_EXT A
		INNER JOIN ##TEMP_PREV_COL_PAG B ON A.IDDEVEDOR = B.IDDEVEDOR
		WHERE B.VALIDA_COLCHAO = 0
			  AND NUMEROPARCELA < 2
			  AND A.IMPORTANCIA IS NULL
					
-- ATUALIZA PAGAMENTOS


		DROP TABLE IF EXISTS #PAGAMENTOS
		SELECT 
			IDACORDO,
			MIN(NUMEROPARCELA) NUMEROPARCELA,
			IDDEVEDOR,
			MIN(DATAVENCIMENTO) DATAVENCIMENTO,
			DATACANCELAMENTO,
			PLANO
		
		INTO #PAGAMENTOS
		FROM YY.GLO.ACORDOS WITH(NOLOCK)
		WHERE CODIGOCARTEIRA = 853
			  AND ISNULL(DATAPAGAMENTO,'1900-01-01') >= CONVERT(DATE,GETDATE()-28) 
			  		
		GROUP BY 
		IDACORDO,
		IDDEVEDOR,
		DATACANCELAMENTO,
		PLANO

		ORDER BY IDACORDO

-- IMPORTANCIA PAGOS

		UPDATE A
		SET A.BASEACIONAR = 0,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = 29,
			A.DESCIMPORTANCIA = 'PAGOS'
	
		FROM #TEMP_EXT A
		JOIN #PAGAMENTOS B ON A.IDDEVEDOR=B.IDDEVEDOR
		AND A.IMPORTANCIA IS NULL

---- MANTÉM PRIMEIRA IMPORTANCIA
		
		UPDATE A
		SET A.BASEACIONAR = B.BASEACIONAR,
			A.DESCRICAOBASEACIONAR = A.DESCRICAOBASEACIONAR,
			A.IMPORTANCIA = B.IMPORTANCIA,
			A.DESCIMPORTANCIA = B.DESCIMPORTANCIA

		FROM #TEMP_EXT A
		INNER JOIN (SELECT DISTINCT
						A.CNPJCPF,
						A.IMPORTANCIA,
						A.DESCIMPORTANCIA,
						A.BASEACIONAR,
						ROW_NUMBER() OVER(PARTITION BY A.CNPJCPF ORDER BY A.IMPORTANCIA ASC) AS LINHA

					FROM #TEMP_EXT A
					INNER JOIN(SELECT DISTINCT
									A.CNPJCPF, 
									A.IMPORTANCIA
							   FROM(SELECT 
										*, 
										ROW_NUMBER()OVER(PARTITION BY CNPJCPF ORDER BY IMPORTANCIA ASC) AS LINHA 
									FROM #TEMP_EXT A WITH(NOLOCK))A
							   WHERE
									A.LINHA >= 2)B ON A.CNPJCPF = B.CNPJCPF)B ON A.CNPJCPF = B.CNPJCPF
		WHERE
			B.LINHA = 1
		
---- IMPORTANCIA NULL

		UPDATE A
		SET A.SCORING = 'Z'
		FROM #TEMP_EXT A
		WHERE A.SCORING IS NULL

		UPDATE A
		SET A.BASEACIONAR = 1,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = 30,
			A.DESCIMPORTANCIA = 'SCORING "Z"'
	
		FROM #TEMP_EXT A
		WHERE A.IMPORTANCIA IS NULL
		AND A.DESCIMPORTANCIA IS NULL
		AND A.SCORING = 'Z'

---- IMPORTANCIA 16	

		UPDATE A
		SET A.BASEACIONAR = 1 ,
			A.DESCRICAOBASEACIONAR = 'DISCADOR',
			A.IMPORTANCIA = 17,
			A.DESCIMPORTANCIA = 'CPC'

		FROM #TEMP_EXT A
		WHERE CONVERT(DATE,DATAULTIMOCPC) > CONVERT(DATE,GETDATE()-4)
		AND ISNULL(QTDECPCS,0) > 3
		AND BASEACIONAR NOT IN (0,2)

---- BASEACIOR 1;12 SOLICITAÇÃO JULIANA 03.05.2023

		UPDATE A
		SET A.BASEACIONAR = '1;12'
		FROM #TEMP_EXT A
		WHERE ISNULL(QTDECPCS,0) < 1
		AND A.IMPORTANCIA IN (2,3,4,5,6,7)

---- SELECT FINAL POUPA TEMPO DEMAIS

		SELECT DISTINCT
		IMPORTANCIA,
		DESCIMPORTANCIA,
		BASEACIONAR,
		COUNT(DISTINCT CNPJCPF) AS QTD,
		SUM(SALDOVENCIDO) AS SALDO
	
		FROM #TEMP_EXT
		GROUP BY
		IMPORTANCIA,
		DESCIMPORTANCIA,
		BASEACIONAR
		ORDER BY 1

		
CREATE INDEX INX_001 ON YY.XXXXX-XXXX.EXTRATO(IDDEVEDOR)
CREATE INDEX INX_001 ON #TEMP_EXT(IDDEVEDOR)


		UPDATE A
		SET A.IMPORTANCIA = B.IMPORTANCIA,
			A.DESCIMPORTANCIA = B.DESCIMPORTANCIA,
			A.BASEACIONAR = B.BASEACIONAR,
			A.DESCRICAOBASEACIONAR = B.DESCRICAOBASEACIONAR
		FROM YY.XXXXX-XXXX.EXTRATO A WITH(NOLOCK)
		INNER JOIN #TEMP_EXT B ON A.IDDEVEDOR = B.IDDEVEDOR
